:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  /* text-align: left; */
}
#root {
  width: 100%;
}
.erase {
  cursor: pointer;
  width: fit-content;
  padding: 8px;
  display: block;
  margin: 0 auto;
}
.add {
  margin-right: 3px;
}
.erase:hover {
  opacity: 0.6;
}
#erase {
  margin-top: 5px;
  background: #f00;
  border-radius: 50%;
}

#erase-completed {
  margin-top: 5px;
  background: #f00;
  border-radius: 500px;
  margin-right: 5px;
}
#erase span,
#erase-completed span {
  color: #fff;
}
.add-todo {
  padding: 4px;
}
.App {
  border-radius: 500px;
}
